build/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pdb
.vs/
.vscode/
*.user
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.VC.db
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt
install_manifest.txt
compile_commands.json
CTestTestfile.cuda
_deps/

